body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.heading_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.heading_container h2 {
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}
.heading_container h2::before, .heading_container h2::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40px;
  height: 1px;
  background-color: #fec016;
}
.heading_container h2::before {
  left: -5px;
  transform: translate(-100%, -50%);
}
.heading_container h2::after {
  right: -5px;
  transform: translate(100%, -50%);
}

/*header section*/
.hero_area {
  min-height: 100vh;
  background-color: #b5caee;
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
}

.sub_page .hero_area {
  height: auto;
}
.sub_page .who_section.layout_padding {
  padding-top: 0;
}

.hero_area.sub_pages {
  height: auto;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  margin: 10px 30px;
  color: #ffffff;
  text-align: center;
  position: relative;
}
.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -2px;
  transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #ffffff;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.user_option {
  display: flex;
  align-items: center;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
.navbar-brand span {
  font-size: 24px;
  color: #ffffff;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px;
}

/*end header section*/
.slider_section {
  height: 90%;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin: 10%
}
.slider_section .detail-box {
  text-align: center;
  margin-bottom: 110px;
}
.slider_section .detail-box h1 {
  font-size: 4rem;
  text-transform: uppercase;
}
.slider_section .detail-box h2 {
  text-transform: uppercase;
}
.slider_section .detail-box p {
  margin-top: 25px;
}
.slider_section .detail-box a {
  display: inline-block;
  padding: 10px 55px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #000000;
  border-radius: 20px 20px 0 20px;
  margin-top: 35px;
}
.slider_section .detail-box a:hover {
  background-color: transparent;
  color: #ffffff;
}
.slider_section #carouselExampleIndicators {
  bottom: 0;
}
.slider_section #carouselExampleIndicators li {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 100%;
  opacity: 1;
}

.do_section .heading_container {
  align-items: center;
  text-align: center;
}
.do_section .do_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}
.do_section .do_container .box {
  text-align: center;
  position: relative;
  z-index: 5;
  margin: 35px 25px 0 25px;
}
.do_section .do_container .box .img-box {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #353434;
  border-radius: 100%;
}
.do_section .do_container .box .img-box img {
  width: 45px;
}
.do_section .do_container .box .detail-box {
  margin-top: 35px;
}
.do_section .do_container .box:hover .img-box {
  background-color: #fec016;
}


.do_section .do_container .arrow_bg::before {
  content: "";
  position: absolute;
  top: -23px;
  left: -17px;
  width: 262%;
  height: 90%;
  z-index: 3;
  background-size: cover;
}
.do_section .do_container .arrow-start::before {
  background-image: url(../images/arrow-start.png);
}
.do_section .do_container .arrow-middle::before {
  background-image: url(../images/arrow-middle.png);
}
.do_section .do_container .arrow-end::before {
  background-image: url(../images/arrow-end.png);
}

.who_section .row {
  align-items: center;
}
.who_section .img-box img {
  width: 100%;
}
.who_section .detail-box {
  margin-left: 65px;
}
.who_section .detail-box p {
  margin-top: 35px;
}
.who_section .detail-box a {
  display: inline-block;
  padding: 8px 30px;
  background-color: #353434;
  border: 1px solid #353434;
  color: #ffffff;
  border-radius: 20px 20px 0 20px;
  margin-top: 35px;
}
.who_section .detail-box a:hover {
  background-color: transparent;
  color: #353434;
}

.work_section .work_container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1%;
}
.work_section .work_container .box {
  min-width: 300px;
  display: flex;
  align-items: stretch;
}
.work_section .work_container .box img {
  width: 100%;
}
.work_section .work_container .box.b-2, .work_section .work_container .box.b-3 {
  width: 43.5%;
}
.work_section .work_container .box.b-1, .work_section .work_container .box.b-4 {
  width: 56.5%;
}

.client_section {
  padding-bottom: 150px;
}
.client_section .heading_container {
  align-items: center;
  margin-bottom: 45px;
}
.client_section .box {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
}
.client_section .box .img-box {
  width: 60px;
}
.client_section .box .img-box img {
  width: 100%;
}
.client_section .box .detail-box {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.client_section .box .detail-box h5 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
.client_section .box .detail-box h5 span {
  text-transform: none;
  font-size: 16px;
  font-weight: normal;
  color: #fec016;
}
.client_section .box .detail-box img {
  width: 15px;
  margin: 35px 0;
}
.client_section .carousel-wrap {
  margin: 0 auto;
  padding: 0;
  position: relative;
}
.client_section .owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}
.client_section .owl-carousel .owl-nav .owl-prev,
.client_section .owl-carousel .owl-nav .owl-next {
  width: 50px;
  height: 50px;
  background-color: #000000;
  background-size: 16px;
  background-position: center;
  border-radius: 100%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -75px;
  outline: none;
}
.client_section .owl-carousel .owl-nav .owl-prev:hover,
.client_section .owl-carousel .owl-nav .owl-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.client_section .owl-carousel .owl-nav .owl-prev {
  background-image: url(../images/prev.png);
  left: 50%;
  transform: translateX(-102%);
}
.client_section .owl-carousel .owl-nav .owl-next {
  right: 50%;
  background-image: url(../images/next.png);
  transform: translateX(102%);
}
.client_section .owl-carousel .owl-dots.disabled,
.client_section .owl-carousel .owl-nav.disabled {
  display: block;
}
.client_section .owl-item.active.center .box {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.target_section {
  background-image: url(../images/target-bg.jpg);
  background-size: cover;
  color: #ffffff;
  text-align: center;
}
.target_section .detail-box {
  margin: 30px 0;
}
.target_section h2 {
  font-weight: bold;
}
.target_section h5 {
  font-size: 18px;
  font-weight: 500;
}

/* contact section */
.contact_section .heading_container {
  align-items: center;
}
.contact_section .contact-form {
  padding: 25px;
  border-radius: 20px;
}
.contact_section .contact-form input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  margin: 15px 0;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 30px;
}
.contact_section .contact-form input.input_message {
  height: 175px;
}
.contact_section .contact-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.contact_section .contact-form button {
  border: none;
  outline: none;
  padding: 12px 50px;
  text-transform: uppercase;
  margin-top: 25px;
  background-color: #fec913;
  color: #fff;
  border-radius: 30px;
}
.contact_section .map_img-box {
  width: 80%;
  margin: 25px auto 0 auto;
}
.contact_section .map_img-box img {
  width: 100%;
}

/* end contact section */
.info_section {
  background-color: #232323;
  color: #ffffff;
  padding: 90px 0 45px 0;
}
.info_section h5 {
  margin-bottom: 25px;
  font-size: 24px;
}
.info_section .info_insta .insta_container > div {
  display: flex;
}
.info_section .info_insta .insta_container img {
  width: 100%;
}
.info_section .info_insta .insta_container .insta-box {
  margin: 5px;
  display: flex;
  align-items: stretch;
  background-color: #ffffff;
  padding: 10px 20px;
}
.info_section .info_contact .img-box {
  width: 35px;
  display: flex;
  justify-content: center;
}
.info_section .info_contact p {
  margin: 0;
}
.info_section .info_contact > div {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.info_section .info_contact > div img {
  height: auto;
  margin-right: 12px;
}
.info_section .info_form form input {
  outline: none;
  width: 100%;
  padding: 7px 10px;
}
.info_section .info_form form button {
  display: inline-block;
  padding: 8px 30px;
  background-color: #fbca47;
  border: 1px solid #fbca47;
  color: #ffffff;
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 15px;
}
.info_section .info_form form button:hover {
  background-color: transparent;
  color: #fbca47;
}
.info_section .info_form .social_box {
  margin-top: 35px;
  width: 100%;
  display: flex;
}
.info_section .info_form .social_box a {
  margin-right: 25px;
}

/* footer section*/
.footer_section {
  background-color: #232323;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.footer_section p {
  padding: 20px 65px;
  color: #fbfcfd;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid #ffffff;
}

.footer_section a {
  color: #fbfcfd;
}

/* end footer section*/

/*# sourceMappingURL=style.css.map */
