<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Movie Mind</title>

  <!-- Slider Stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />

  <!-- Fonts Style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">

  <!-- Custom Styles for This Template -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />

  <!-- Responsive Style -->
  <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand" href="index.html">
            <span>
              Movie Mind
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('about') }}"> About </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                </li>
              </ul>
              <div class="user_option">
                <a href="">

                </a>
                <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                </form>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
      <br><br><br><br><br><br>
      <section class="who_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="img-box">
            <br>
            <img src="{{ url_for('static', filename='Designer.jpeg') }}" alt="Designer Image">
          </div>
        </div>
        <div class="col-md-7">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                WHO WE ARE?
              </h2>
            </div>
            <p>
              Welcome to MovieMind, your ultimate movie recommendation companion! At MovieMind, we believe that finding the perfect movie should be as enjoyable as watching one. Simply type in the name of a movie you love, and MovieMind will provide you with a curated list of alternative films tailored to your tastes. Our advanced recommendation engine analyzes your preferences to suggest movies that match your interests, ensuring that you'll always have a great film to watch. Whether you're into action, romance, comedy, or sci-fi, MovieMind is here to help you discover new favorites and revisit classic gems. Dive into a world of endless cinematic possibilities with MovieMind! 🎥💙🌟
            </p>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
      <br><br><br><br>
  <section class="container-fluid footer_section">
    <p>
      Made By <a href="https://www.instagram.com/asa.bizenjo/">Asa Bizanjo</a>
    </p>
  </section>
  </div>


  <!-- who section -->

  <!-- end who section -->


  <!-- footer section -->
  <!-- footer section -->

  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  </script>

</body>

</html>