<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Movie Mind</title>

  <!-- Slider Stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />

  <!-- Fonts Style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">

  <!-- Custom Styles for This Template -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />

  <!-- Responsive Style -->
  <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet" />

  <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
</script>
<script type="text/javascript">
   (function(){
      emailjs.init({
        publicKey: "yGwKH2qdDArHLMR8I",
      });
   })();
</script>

<script>src="script.js"</script>
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand" href="index.html">
            <span>
              Movie Mind
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('about') }}"> About </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                </li>
              </ul>
              <div class="user_option">
                <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                </form>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
       <section class="contact_section layout_padding">
  <div class="container">

    <div class="heading_container">
      <h2>
        Send Us A Message
      </h2>
    </div>

    <div class="row">
      <div class="col-md-9 mx-auto">
        <div class="contact-form">
          <form id="contact-form">
            <div>
              <input type="name" placeholder="Full Name" name="name" id="name" required>
            </div>
            <div>
              <input type="email" placeholder="Email Address" name="email" id="email" required>
            </div>
            <div>
              <input type="subject" placeholder="Subject" name="subject" id="subject" required>
            </div>
            <div>
              <input placeholder="Message" class="input_message" name="message" id="Message" required></textarea>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn_on-hover" onclick="sendMail()">
                Send
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</section>

        <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      Made By <a href="https://www.instagram.com/asa.bizenjo/">Asa Bizanjo</a>
    </p>
  </section>
  <!-- footer section -->
  </div>

  <!-- contact section -->


  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>


</body>

</html>