<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Movie Mind</title>

  <!-- Slider Stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />

  <!-- Fonts Style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">

  <!-- Custom Styles for This Template -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />

  <!-- Responsive Style -->
  <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet" />
</head>


<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand" href="index.html">
            <span>
              Movie Mind
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('about') }}"> About </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                </li>
              </ul>
              <div class="user_option">
                <a href="">
                  <img src="images/user.png" alt="">
                </a>
                <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                </form>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section position-relative">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="detail-box">
              <h2>Welcome To</h2>
              <h1>Movie Mind</h1>
              <p>Find The Best Movie Alternatives</p>

              <!-- Search Box -->
              <div class="flexbox">
                    <div class="search">
                        <h3>After selecting the search icon, enter the title of your film.</h3>
                        <form id="movie-form" class="search">
                        <div>
                            <input type="text" id="movie_title" name="movie_title" placeholder="Search . . ." required>

                        </div>
                            <input type="submit" id="submit_button" value="Submit" style="display: none;">
                            </form>
                    </div>
                  <style>
.flexbox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search {
    margin: 20px;
}
.search > h3 {
    font-weight: 400;
}
.search > h1,
.search > h3 {
    color: #fff;
    margin-bottom: 15px;
    text-shadow: 0 1px #0091c2;
}
.search > div {
    display: inline-block;
    position: relative;
    filter: drop-shadow(0 1px #0091c2);
}
.search > div:after {
    content: "";
    background: #fff;
    width: 4px;
    height: 20px;
    position: absolute;
    top: 20px;
    transform: rotate(135deg);
}
.search > div > input[type="text"] {
    color: #fff;
    font-size: 16px;
    background: transparent;
    width: 25px;
    height: 25px;
    padding: 10px;
    border: solid 3px #fff;
    outline: none;
    border-radius: 35px;
    transition: width 0.5s;
}
.search > div > input[type="text"]::placeholder {
    color: #efefef;
    opacity: 0;
    transition: opacity 150ms ease-out;
}
.search > div > input[type="text"]:focus::placeholder,
.search > div > input[type="text"]:not(:placeholder-shown)::placeholder {
    opacity: 1;
}
.search > div > input[type="text"]:focus,
.search > div > input[type="text"]:not(:placeholder-shown) {
    width: 250px;
}
#submit_button {
    margin-top: 10px;
    padding: 10px;
    border: solid 3px #fff;
    border-radius: 35px;
    background: transparent;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;
        margin-left: 20px;
}
#submit_button:hover {
    background: #0091c2;
}
</style>

                </div>

                <div id="loading" style="display: none;">
                    <img src="{{ url_for('static', filename='loading.gif') }}" alt="Loading..." />
                  </div>
                <div id="results" style="display: none;">
                <!-- Actual results will be displayed here -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer Section -->
    <section class="container-fluid footer_section">

    </section>

    <!-- jQuery and Custom Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

      <script>
$(document).ready(function() {
    $('#movie_title').on('input', function() {
        if ($(this).val().length > 0) {
            $('#submit_button').fadeIn();
        } else {
            $('#submit_button').fadeOut();
        }
    });
});
</script>

    <script>
    $(document).ready(function() {
  $('#movie-form').submit(function(event) {
    event.preventDefault(); // Prevent form submission

    // Show loading GIF
    $('#loading').show();

    document.getElementById('submit_button').style.display = 'none';

    var formData = $(this).serialize();

    $.ajax({
      type: 'POST',
      url: '/',
      data: formData,
      success: function(response) {
        $('#search-box').hide(); // Hide search box on success
        $('#loading').hide(); // Hide loading GIF

        if (response.error) {
          $('#results').html('<p>' + response.error + '</p>').show(); // Display error message
        } else {
          var movie_title = response.movie_title;
          var movie_details = response.movie_details;
          var similar_movies = response.similar_movies;

          // Construct HTML for main movie details
          var html = '<h2>' + movie_title + '</h2>';
          html += '<p><strong>Overview:</strong> ' + movie_details.overview + '</p>';
          html += '<p><strong>Release Date:</strong> ' + movie_details.release_date + '</p>';
          html += '<p><strong>Ranking:</strong> ' + movie_details.vote_average + '</p> <br> <br>';

          // Construct HTML for similar movies
          html += '<h3>Similar Movies:</h3><ul> <br> <br> ';
          for (var i = 0; i < similar_movies.length; i++) {
            html += '<li>';
            html += '<h3><strong>Title:</strong> ' + similar_movies[i][0].title + '</h3>';
            html += '<p><strong>Overview:</strong> ' + similar_movies[i][0].overview + '</p>';
            html += '<p><strong>Release Date:</strong> ' + similar_movies[i][0].release_date + '</p>';
            html += '<p><strong>Ranking:</strong> ' + similar_movies[i][0].vote_average + '</p>';
            html += '</li>';
          }
          html += '</ul>';

          $('#results').html(html).show(); // Display results
        }
      },
      error: function(xhr, status, error) {
        console.log("Error:", error); // Log any AJAX errors to console
      }
    });
  });
});


    </script>
        <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      Made By <a href="https://www.instagram.com/asa.bizenjo/">Asa Bizanjo</a>
    </p>
  </section>
  <!-- footer section -->
  </div>
</body>
</html>